@page


@{
    ViewData["Title"] = "Quem Somos";
}

    <div>
        <h1 class="mt-4 mb-4">Bem-vindo à EletroVision</h1>
    </div>

    <div class="row mt-3">
    <figure class="col-4">
        <img class="img-fluid" src="/Imagens/Historia.png" />
    </figure>
    <section class="col" >
        <h2>Nossa História</h2>
    <p>Fundada em 2013, a EletroVision começou como um sonho de oferecer soluções eletrodomésticas confiáveis e acessíveis para lares e empresas. Ao longo dos anos, crescemos e evoluímos, mantendo nosso compromisso com a qualidade e o atendimento ao cliente. Nossa jornada de mais de uma década é marcada por inovação, dedicação e satisfação do cliente.</p>
    </section>
    </div>

    <div class="row mt-3">
        <section class="col">
            <h2>Nossa Missão</h2>
            <p>Na EletroVision, nossa missão é simplificar a vida de nossos clientes, fornecendo os melhores eletrodomésticos do mercado. Entendemos as necessidades em constante evolução de nossos clientes e procuramos constantemente maneiras de atendê-las de forma eficaz. Nossos produtos são escolhidos com cuidado para oferecer desempenho excepcional, eficiência energética e estilo, garantindo que você tenha os recursos necessários para viver uma vida mais confortável.</p>
        </section>
        <figure class="col-4">
            <img class="img-fluid" src="/Imagens/Missao.png" />
        </figure>
    </div>

    <div class="row mt-3">
        <figure class="col-4">
            <img class="img-fluid" src="/Imagens/Oferecemos.png" />
        </figure>
        <section class="col">
            <h2>O Que Oferecemos</h2>
            <p>Em nosso amplo catálogo, você encontrará uma ampla variedade de eletrodomésticos, incluindo geladeiras, fogões, máquinas de lavar, micro-ondas, e muito mais. Trabalhamos com marcas de renome, garantindo que nossos clientes tenham acesso às melhores opções disponíveis no mercado. Além disso, oferecemos serviços de entrega segura e suporte pós-venda para garantir que você tenha uma experiência perfeita ao comprar conosco.</p>
        </section>
    </div>

    <div class="row mt-3">
        <section class="col">
            <h2>Nossa Equipe</h2>
            <p>Nossa equipe é composta por profissionais dedicados e experientes que estão prontos para ajudar você a fazer as escolhas certas para suas necessidades de eletrodomésticos. Estamos comprometidos em fornecer orientação e assistência personalizada para garantir que você faça a escolha perfeita para o seu lar ou negócio.</p>
        </section>
        <figure class="col-4">
            <img class="img-fluid" src="/Imagens/Equipe.png" />
        </figure>
    </div>

    <div class="row mt-3">
        <figure class="col-4">
            <img class="img-fluid" src="/Imagens/Contato.png" />
        </figure>
        <section class="col">
            <h2>Entre em Contato</h2>
            <p>Estamos ansiosos para atendê-lo e ajudá-lo a encontrar os melhores eletrodomésticos para atender às suas necessidades. Entre em contato conosco para obter mais informações, agendar uma visita à nossa loja ou fazer uma compra online. Obrigado por confiar na EletroVision como sua fonte confiável de eletrodomésticos.</p>
        </section>
        
    </div>


    

    

    


